@model MVC_page.Ask

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Ask</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.content)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.content)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.createTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.createTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.picturePath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.picturePath)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
